.idea
*/node_modules
*/package-lock.json

*/yarn-error.log
*/dist

*/systemd
systemd

venv
temp/
.vscode
tmp/
*.pyc
__pycache__
.venv
/logfile*
logfile
*.log
*.log*
*.crt
*.key
*.service
/__setup.cfg
/venv/
/env/
/log/
/out/
